.home {
    text-align: center;
    padding: 20px;
  }
  
  .slides {
    margin-bottom: 20px;
  }

h1 {
    color: #128ef3 ;
}

.nasa-logo{
  width: 20%;
  margin-bottom: 5%;
}

hr {
  width: 65%;
  border: 1px solid #ccc; 
  margin: 20px auto; 
}

@media only screen and (max-width: 768px) {
  .nasa-info {
    flex-direction: column; 
    text-align: center;
  }

  .nasa-logo {
    margin-top: 20px;
  }
}