.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 80px;
  background-color: #333;
  color: white;
  z-index: 1000;
  }
  
  .social-icon {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  .social-icon:hover {
    color: #7fb9f0;
  }
  