form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input, select, textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s;
}

button:hover {
  background-color: #128ef3;
}

.message {
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  color: white; 
  margin-top: 5%;
  margin-bottom: 15%;
}

.confirmation-message {
  background-color: #47bd4b;
}

.error-message {
  background-color: #c73f3f;
}

@media only screen and (max-width: 768px) {
  button{
    margin-bottom: 15%;
  }
}