.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  list-style: none;
  margin: 0;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.menu a:hover {
  color: #7fb9f0;
}

.logo {
  width: 140px;
  height: auto;
}

.menu li:first-child {
  margin-right: auto;
}

.menu a svg {
  margin-right: 8px; 
}

@media only screen and (max-width: 768px) {
  .menu {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .menu li {
    margin: 10px 0;
  }

  .menu img.logo {
    margin-bottom: 15px;
  }

  form {
    padding: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .logo {
    width: 40px; 
  }

  .menu a {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  .logo {
    width: 70px;
  }

  .menu a {
    font-size: 20px;
  }
}